<div class="content-input-filter">
  <input type="text" 
    name="q" 
    value="{{q}}"
    autocomplete="off"
    class="input input-site-filter" 
    placeholder="Buscar uma receita"
  >
</div>
<button type="submit" class="button button-site-filter">
  Buscar
</button>