{% extends 'site/layout.njk' %}

{% block head %}
  <title>Foodfy | Recurso não encontrado</title>
{% endblock head %}

{% block errorPage %}
  <div class="access-diened">
    <h1>Oops!</h1>
    <span>
      Desculpe, mas a página ou conteúdo que você está buscando não existe.
    </span>
    <i class="material-icons">pageview</i>
  </div>
{% endblock errorPage %}