{% extends 'login/layout.njk' %}

{% block head %}
  <title>Foodfy | Esqueci a senha</title>
{% endblock head %}

{% block headerAuth %}
  <h1>Esqueceu a Senha?</h1>
{% endblock headerAuth %}

{% block contentAuth %}
  <form action="/login/forget-password" method="post">
    <div class="form-group">
      <label for="email">Email</label>
      <input 
        type="email" 
        name="email" 
        id="email" 
        class="input" 
        placeholder="Digite seu email para recuperar sua senha"
      >
    </div>
    <div class="form-group options-login right">
      <button type="submit" class="button primary">Recuperar</button>
    </div>
  </form>
{% endblock contentAuth %}