{% extends 'login/layout.njk' %}

{% block head %}
  <title>Foodfy | Resetar senha</title>
{% endblock head %}

{% block headerAuth %}
  <h1>Nova Senha</h1>
{% endblock headerAuth %}

{% block contentAuth %}
  <form action="/login/reset-password" method="post">
   <input type="hidden" name="token" value="{{token}}">
    <div class="form-group">
      <label for="email">Email</label>
      <input 
        type="email" 
        name="email" 
        id="email" 
        class="input {% if error %}
          border-error-red
        {% endif %}" 
        placeholder="Digite seu email"
      >
    </div>

    <div class="form-group password-container">
      <label for="password">Nova senha</label>
      <input 
        type="password" 
        class="input password {% if error %}
          border-error-red
        {% endif %}" 
        name="password" 
        id="password" 
        placeholder="Informe sua nova senha"
      >
      <i 
        class="material-icons show-hidden-password" 
        onclick="VisibilityAndHiddenPassword.handleClickIconInput()"
      >
        visibility
      </i>
    </div>

     <div class="form-group password-container">
      <label for="password_repeat">Repetir senha</label>
      <input 
        type="password" 
        class="input password {% if error %}
          border-error-red
        {% endif %}" 
        name="password_repeat" 
        id="password_repeat" 
        placeholder="Confirme a nova senha"
      >
    </div>

    <div class="form-group options-login right">
      <button type="submit" class="button primary">Nova Senha</button>
    </div>
  </form>
{% endblock contentAuth %}