{% extends 'dashboard/layout.njk' %}

{% block head %}
  <title>Foodfy | Acesso negado</title>
{% endblock head %}

{% block content %}
  <div class="access-diened">
    <h1>Oops!</h1>
    <span>
      Acesso Negado, você não tem permissão para acessar a página ou conteúdo solicitada.
    </span>
    <i class="material-icons">desktop_access_disabled</i>
  </div>
{% endblock content %}