@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --black: #111;
  --roxo: #6558c3;
  --red: #dc4747;
  --cubic: all 0.5s cubic-bezier(0.88, -0.4, 0.63, 0.85);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  font-display: fallback;
  background: #fff;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
