{% extends 'dashboard/layout.njk' %}

{% block head %}
  <title>Dashboard | Editando chef</title>
{% endblock head %}

{% block contentHeader %}
  <h1>
    <i class="material-icons">person_add_alt_1</i>
    Editando Chef
  </h1>
{% endblock contentHeader %}

{% block contentActions %}
  <div class="dropdown" onclick="VeritcalMenuOptions.handleActive()">
        <i class="material-icons">more_vert</i>
    <div class="container-actions">
      <button type="submit" class="button red" form="chef-form-delete">Deletar</button>
      <button type="submit" class="button primary" form="chef-form-edit">Salvar</button>
    </div>
  </div>
{% endblock contentActions %}

{% block content %}
  <form action="/dashboard/chefs?_method=PUT" method="post" id="chef-form-edit" enctype="multipart/form-data">
    {%include 'dashboard/chefs/parts/fields.njk'%}
  </form>

  <form action="/dashboard/chefs?_method=DELETE" method="post" id="chef-form-delete">
    <input type="hidden" name="id" value="{{chef.id}}">
    <input type="hidden" name="id_file" value="{{chef.files.id}}">
  </form>
{% endblock content %}